Repository Sedimark/marketplace-frontend, pull requests merged in 2025-07, with the labels that each got.

#88 maint: update flowbite and improve copy button
  package-lock.json
  package.json
  src/app/dashboard/contracts/components/TransferModal.jsx
  tailwind.config.js
Labels: Func: Data Transfer, Type: maintenance

#93 feat(#65): integrate updated catalogue
  src/app/catalogue/[offeringId]/components/Asset.jsx
  src/app/catalogue/[offeringId]/components/DatasetInfoComponent.jsx
  src/app/catalogue/[offeringId]/components/NegotiateCard.jsx
  src/app/catalogue/[offeringId]/components/Recommender.jsx
  src/app/catalogue/[offeringId]/components/RecommenderItem.jsx
  src/app/catalogue/[offeringId]/components/Terms&ConditionsModal.jsx
  src/app/catalogue/components/Catalogue.js
  src/app/catalogue/components/OfferingItem.jsx
  src/app/catalogue/components/ResultsList.js
  src/app/dashboard/components/sidebar/Sidebar.jsx
  src/app/dashboard/contracts/components/ContractItem.jsx
  src/components/home/Banner.jsx
  src/utils/catalogue.js
  src/utils/data/mockAssetOntology.json
  src/utils/data/mockContract.json
  src/utils/data/mockContractTransfers.json
  src/utils/data/mockRecommendations.json
Labels: Func: Offering Discovery, Type: enhancement

#78 67 add a transfer history page in the dashboard
  src/app/api/proxy/route.js
  src/app/dashboard/components/sidebar/Sidebar.jsx
  src/app/dashboard/contracts/page.js
  src/app/dashboard/overview/components/Overview.jsx
  src/app/dashboard/overview/components/TransferHistory.jsx
  src/app/dashboard/overview/page.js
  src/utils/connector.js
  src/utils/data/mockOverview.json
  src/utils/data/mockTransfershistory.json
Labels: Func: Dashboard contracts, Type: enhancement
